@model RepositoryPatternWithADO.Net.Models.Employee

@{

      ViewBag.Title = "Details";
}

<div class="card">
    <div class="card-header">
        <h5 class="text-uppercase">Employee Details</h5>
    </div>
    <div class="card-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Position)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Position)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Office)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Office)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Salary)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Salary)
            </dd>
        </dl>
        @Html.ActionLink("Edit", "Edit", "Home", new { id = Model.Id }, new { @class = "btn btn-sm btn-info rounded-0" })
        @Html.ActionLink("Back to List", "Index", "", new { @class = "btn btn-sm btn-primary rounded-0" })
    </div>
    
</div>

